<!DOCTYPE html>
<html>

    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/services">Our Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <h1>Welcome to the contact us page</h1>
    </body>

</html>