<!DOCTYPE html>
<html>

    <head>
        <title>Services</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/service">Our Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <h1>Welcome to the Service Page</h1>
    </body>

</html>